
/* General Styles */

*{
    margin: 0;
    padding: 0;
    font-family:poppins;
    box-sizing: border-box;
}

body{
    background: #222;
}

h2{
    text-align: left;
    margin-left: 10px;
    font-size: 30px;
    margin-top: 10px;
    color: #000;
    margin-bottom: 15px;

}

/* Styles for container */


.card{
    width: 100%;
    max-width: 470px;
    background: linear-gradient(165deg, #04dffc, #05f52d);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.city{
    text-align: center;
}

/* Styles for Search input and button */

.search{
    width: 70%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.search-1 input{
    border: 0;
    outline: 0;
    background: #fff; 
    color: #000;
    padding: 10px 25px;
    height: 60px;
    border-radius: 60px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    width:auto;
    
}

.search-2 button{
    border: 0;
    outline: 0;
    background: #fff; 
    border-radius: 50% ;
    width: 60px;  
    height: 60px; 
    cursor: pointer;
    flex-shrink: 0;
}

.search button img{
      width: 20px;  
}

.weather-icon{
    width:180px;
    margin-top: 30px;

}
.weather h1{
    font-size: 60px;
    font-weight: 500px;
}

.weather h2{
    font-size: 40px;
    font-weight: 400px;
    margin-top: -10px;
}

/* Styles for weather Conditions and Images*/

.details{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding:0 20px ; 
     margin-top: 50px; 
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width:35px ;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 22px;
    margin-top:-7px ;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 12px;
    display: none;

}

  
  /* @media (max-width: 400px) {
    .search {
      width: 90%;
    }
  }  */

  
